.html {
  background: -webkit-linear-gradient(left, #11ccc9 80%, #ece5f0 80%);
  background: -moz-linear-gradient(left, #11ccc9 80%, #ece5f0 80%);
  background: -ms-linear-gradient(left, #11ccc9 80%, #ece5f0 80%);
  background: -o-linear-gradient(left, #11ccc9 80%, #ece5f0 80%);
  background: linear-gradient(to right, #11ccc9 80%, #ece5f0 80%);
}
.css {
  background: -webkit-linear-gradient(left, #11ccc9 70%, #ece5f0 70%);
  background: -moz-linear-gradient(left, #11ccc9 70%, #ece5f0 70%);
  background: -ms-linear-gradient(left, #11ccc9 70%, #ece5f0 70%);
  background: -o-linear-gradient(left, #11ccc9 70%, #ece5f0 70%);
  background: linear-gradient(to right, #11ccc9 70%, #ece5f0 70%);
}

@keyframes customEnterOverlayAnimation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes customLeaveOverlayAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes customEnterModalAnimation {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes customLeaveModalAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.2);
  }
}
