.html {
  background: -webkit-linear-gradient(left, #11ccc9 80%, #ece5f0 80%);
  background: -moz-linear-gradient(left, #11ccc9 80%, #ece5f0 80%);
  background: -ms-linear-gradient(left, #11ccc9 80%, #ece5f0 80%);
  background: -o-linear-gradient(left, #11ccc9 80%, #ece5f0 80%);
  background: linear-gradient(to right, #11ccc9 80%, #ece5f0 80%);
}
.css {
  background: -webkit-linear-gradient(left, #11ccc9 70%, #ece5f0 70%);
  background: -moz-linear-gradient(left, #11ccc9 70%, #ece5f0 70%);
  background: -ms-linear-gradient(left, #11ccc9 70%, #ece5f0 70%);
  background: -o-linear-gradient(left, #11ccc9 70%, #ece5f0 70%);
  background: linear-gradient(to right, #11ccc9 70%, #ece5f0 70%);
}
